<div class="side-nav-contact">
<h3>Contact Info</h3>
<hr class="featurette-divider">
<div class= "jumbotron-side" >	
	<ul class="contact-side-bar">
		<li><%= link_to "Enterprise Portal Solutions", enterprise_portal_solutions_path %></li>
		<li><%= link_to "Cloud Solutions", cloud_solutions_path %></li>
		<li><%= link_to "Big Data Solutions", big_data_solutions_path %></li>
		<li><%= link_to "Performance Tuning Solutions", performance_tuning_solutions_path %></li>
		<li><%= link_to "Business Analytics Solutions", business_analytics_solutions_path %></li>
	</ul>
</div>
</div>